body {
	max-width: 1000px;
	margin: auto;
}

form > * + * {
	margin-top: .25rem;
}

.preset {
	border: solid 1px gray;
	padding: .25rem;
	margin-bottom: .25rem;
}

.preset > div + div {
	margin-top: .25rem;
}

.preset label {
	margin-right: .25rem;
}

.preset input {
	width: 300px;
}

.pattern-input {
	display: block;
	width: 100%;
}

.list {
	display: flex;
	flex-wrap: wrap;
}

.list > div {
	flex: 0 0 auto;
	min-width: 12.5%;
	padding: .25rem;
}
